.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff8a5;
    justify-content: center;
    min-height: 200px;
    min-width: 200px;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(240, 232, 232, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.card_message {
    font-size: 1.4rem;
    text-align: center;
    word-break: break-word;
}

.cards_buttons {
    display: flex;
    justify-content: space-evenly;
    padding: .5em;
    width: 30px;
    height: 20px;

}